<h1>Showing a Todo</h1>

<p>
  Name: <%= @todo.name %>
</p>
<p>
  Description: <%= @todo.description %>
</p>
<%= link_to "Edit This Todo", edit_todo_path(@todo) %>  |
<%= link_to "Back To Todo Listing", todos_path %>